.grid{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1px;

    overflow-y: scroll;
    overflow-x: hidden;

    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;

    background-color: var(--mainGridBackColor);
    backdrop-filter: blur(20px);
    border-radius: 0 10px 10px 0;
    color: var(--mainGridFontColor);

    width: 45px;
    height: 100vh;
    padding-bottom: 15px;

    transition: width .2s;
}

.grid:hover{
    width: 180px;
}

.grid:hover .gridTitle{
    color: var(--mainGridTitleFontColor);
}

.gridTitle{
    font-size: 30px;
    font-weight: 600;

    background-color: var(--mainGridTitleBackColor);
    color: transparent;

    position: sticky;
    z-index: 2;
    top: 0;

    width: 100%;

    padding: 15px 0 5px 10px;
    transition: color .2s;
}

.icon{
    min-height: 40px;
    width: 180px;

    overflow: hidden;
    cursor: pointer;

    border: 3px solid transparent;
    background-color: var(--mainGridIconBackColor);
    /* border-radius: 5px; */

    position: relative;

    /* background-position: 50% 35%; */
    /* background-size: 53%; */

    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: 5px 50%;
}

.icon:hover{
    background-color: var(--mainGridIconBackColorHov);
}

.icon::after{
    content: attr(data-iconName);
    font-size: 12px;
    font-family: "Segoe UI Variable Small";

    width: 115px;
    overflow: hidden;
    white-space: nowrap;

    position: absolute;
    bottom: 10px;
    left: 42px;
    text-align: left;
    text-overflow: ellipsis;

    /* DISPLAY: NONE; */
}

.icon:nth-of-type(2){
    display: none;
}

.selectedIcon{
    background-color: purple;
}

.largePreview{
    height: 256px;
    aspect-ratio: 1/1;

    box-sizing: content-box;


    background-color: var(--heroIconPlateColor);
    backdrop-filter: blur(20px);
    border-radius: 10px;

    position: absolute;
    z-index: 4;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    /* background-position: 50% 35%; */
    /* background-size: 53%; */

    background-size: 256px;
    background-repeat: no-repeat;
    background-position: 50%;

    padding: 40px;
}

.largePreview::after{
    content: attr(data-iconName);

    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);

    width: max-content;
    padding: 5px 10px;
    text-align: center;

    font-weight: 500;
    background-color: var(--mainGridFontColorReverse);
    color: var(--mainGridFontColor);
    border-radius: 4px;

    /* DISPLAY: NONE; */
}

.iconInfo{
    width: 200px;
    height: 270px;

    background-color: var(--heroIconPlateColor);
    backdrop-filter: blur(20px);
    border-radius: 10px;

    position: absolute;
    z-index: 3;
    right: 50%;
    top: 50%;
    transform: translate(95%, -50%);

    transition: transform .2s;

    DISPLAY: NONE;
}

.largePreview:hover ~ .iconInfo,
.iconInfo:hover{
    transform: translate(190%, -50%);
}

.darkToggle{
    width: 40px;
    height: 40px;

    border-radius: 50%;
    background-color: white;

    align-items: center;
    justify-content: center;

    position: absolute;
    top: -20px;
    right: -20px;

    transition: transform .3s;

    display: none;
}

.darkToggle:active{
    transform: rotate(180deg);
}