/* 'Hero' box (Large Preview) */

.largePreview {
    width: 400px;
    height: 100%;
    padding: 20px;
    flex-shrink: 0;

    background-color: var(--heroIconPlateColor);
    backdrop-filter: blur(20px) saturate(250%);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 4;
    transition: background-size .3s, background-position .3s, background-image .1s, height 1s;
}

.lpIcon {
    background-image: url('iconimgs/Explorer/Badges/help.png');

    background-size: 256px;
    background-repeat: no-repeat;
    background-position: center;

    min-width: 256px;
    min-height: 256px;

    width: fit-content;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;

    transition: background-size .3s, background-position .3s, background-image .1s;
}

/*  */

/* Icon revisions ("alts") */

.alts {
    display: none;
    gap: 5px;
    align-items: center;
    justify-content: center;

    /* position: absolute; */
    /* bottom: 10px; */
    margin-bottom: 5px;
}

.alt {
    width: 80px;
    aspect-ratio: 1/1;

    appearance: none;

    display: none;
    align-items: center;
    justify-content: center;

    position: relative;

    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-size .2s, background-position .2s, background-image .1s, background-color .2s !important;
}

.alt:active {
    background-size: 80px;
    background-position: center -70px;
}

/*  */

/* Icon 'more info' overlay */

.iconInfo {
    width: 100%;
    height: fit-content;

    background-color: var(--micaBack);
    color: var(--micaText);
    border-radius: 10px;

    opacity: 1;
    padding-bottom: 0;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    transition: opacity .2s, padding-bottom .2s, height .3s;
}

.iconInfoContent {
    width: 100%;
    height: max-content;
    max-height: 50px;
    padding: 10px 10px 5px 10px;

    overflow: clip;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

.iconInfoContent.select {
    max-height: 200px;
    padding: 13px 20px;
}

.infoHead {
    display: flex;
    position: relative;
    margin-bottom: 7px;
}

.iconInfoContent.select #moreAltAmt,
.iconInfoContent.select #moreFirstSeen {
    opacity: 1;
}

#moreIconName {
    font-size: 30px;
    word-wrap: normal;
    width: 100%;
    height: fit-content;
    font-weight: 700;
}

#moreIconClrMd {
    opacity: .4;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}

#moreAltAmt,
#moreFirstSeen {
    font-size: 18px;
    padding-left: 10px;
    position: relative;
    opacity: 0;
}

#moreAltAmt::after,
#moreFirstSeen::after {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    background-color: var(--micaText);
    opacity: .6;
}

/*  */

/* Bubble buttons on Large Preview */

.previewButtons {
    display: flex;
    gap: 5px;

    position: absolute;
    top: 5px;
    right: 5px;
}

.hoverBtn {
    width: 34px;
    aspect-ratio: 1/1;

    border-radius: 50% !important;
    background-color: var(--micaFore) !important;

    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#moreInfoBtn {
    display: none !important;
}

/*  */