body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    background-image: var(--backgroundImage);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.versionInfo {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1000;

    padding: 3px 6px;

    font-size: 15px;
    font-weight: 500;
    color: var(--micaText);

    user-select: none;
    pointer-events: none;
}

* {
    box-sizing: border-box;
    user-select: none;

    font-family: "Segoe UI Variable Display", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.micaFore {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 5px;

    color: var(--micaText);
    cursor: pointer;

    transition: background-color .1s;
}

.micaFore:hover {
    background-color: var(--micaForeHov);
}

.micaFore.selected {
    background-color: var(--micaFore);
    border: 1px solid var(--micaBord);

    font-weight: 700;

    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
}

.micaBase {
    background-color: var(--micaBack);
    color: var(--micaText);
}

.micaLabel {
    font-size: 15px;
    font-weight: 500;

    background-color: var(--micaFore);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    color: var(--micaText);
    border-radius: 4px;

    width: max-content;
    padding: 5px 10px;
}

@media (prefers-color-scheme: light) {
    :root {
        --backgroundImage: url("https://cdn.wallpaperhub.app/cloudcache/4/4/7/5/e/7/4475e73c885921925f61fcf123c7c8c1f93e1c0c.jpg");

        --micaBack: rgba(255, 255, 255, 0.9);
        --micaRest: rgba(255, 255, 255, .75);
        --micaFore: white;
        --micaForeHov: rgba(255, 255, 255, 0.75);
        --micaText: black;
        --micaBord: #ffffff;
        --micaInv: rgba(0, 0, 0, .1);

        --heroIconPlateColor: rgba(255, 255, 255, .65);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --backgroundImage: url("https://cdn.wallpaperhub.app/cloudcache/9/1/5/4/b/5/9154b59c02887a5eb398be3dce7531b52295c9e9.jpg");

        --micaBack: #271a2f;
        --micaRest: rgba(70, 70, 70, 0.3);
        --micaFore: #483943;
        --micaForeHov: #362737;
        --micaText: white;
        --micaBord: #51434a;
        --micaInv: rgba(255, 255, 255, 0.15);

        --heroIconPlateColor: rgba(48, 48, 48, .7);
    }
}