/* Sidebar ('grid') */

.grid {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-direction: column; */

    /* position: absolute; */
    z-index: 10;
    /* left: 5px; */
    /* bottom: 5px; */

    background-color: var(--micaRest);
    backdrop-filter: blur(40px);
    color: var(--micaText);
    /* border-top: 1px solid var(--micaBord); */
    border-radius: 9px;

    height: 100%;
    /* max-height: calc(100vh - 60px); */
    /* width: auto; */
    width: 100%;
    /* max-width: 50vw; */
    min-width: 200px;

    transition: .25s width 1s, background-color .2s;
}

/* .grid:hover {
    width: 200px;
    transition: .25s width .01s, background-color .2s
} */

::-webkit-scrollbar {
    width: 0;
    opacity: 0;
    display: none;
}

/*  */

/* Simulated window chrome ('titlebar') */

.titlebar {
    /* border-bottom: 1px solid var(--micaBord); */
    color: var(--micaText);

    position: absolute;
    top: 0;
    /* left: 0; */

    width: 100vw;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .25s max-width 1s, background-color .2s;
}

.centerSpot {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    /* margin-right: auto; */
    /* margin-left: 5px; */

    background-color: var(--micaRest);
    border-radius: 500px;
    height: 40px;

    width: fit-content;
    padding-right: 2px;
}

.tbText {
    display: flex;
    gap: 2px;
    opacity: .5;
    width: fit-content;

    padding-left: 15px;
    margin-right: -15px;

    /* position: absolute; */
    /* left: 50%; */
    /* top: 50%; */
    /* transform: translate(-50%, -50%); */
}

.iconPackLabel {
    min-width: max-content !important;

    font-size: 14px;
    font-weight: 600;
    font-family: 'Segoe UI Variable';
    height: 20px;
}

.iconCount {
    min-width: max-content !important;

    font-size: 12px;
    font-weight: 900;
    opacity: .5;

    text-transform: uppercase;
}

.giEx {
    background-image: url("favicon/favicon-32x32.png");
    background-size: 23px;
    background-repeat: no-repeat;
    background-position: 7px center;
    color: transparent;

    border-radius: 50px;

    font-size: 26px;

    width: 36px;
    height: 36px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 15px;
    background-color: var(--micaInv);
    /* padding: 10px !important; */

    transition: .3s;
}

/*  */

/* Icons (sidebar buttons) */

.iconContainer {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* flex-direction: column; */
    gap: 30px 20px;

    width: 100%;
    height: 100%;
    flex-wrap: wrap;

    /* margin-top: 45px; */
    overflow: hidden scroll;
    padding: 10px;
    padding-bottom: 40px;
}

.button {
    height: 80px;
    width: 80px;

    transition: opacity .3s, background-size .2s, background-color .2s !important;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    /* overflow: hidden; */

    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
}

.button:active {
    background-size: 55px;
}

.button:hover {
    background-color: unset !important;
}

.button:not(.selected):after {
    content: "";

    width: 100%;
    height: 100%;

    position: absolute;
    z-index: -1;

    border-radius: 5px;
    background-color: var(--micaRest);
    border: 1px solid var(--micaRest);
    border-top-color: var(--micaBord);

    animation: flyOut .15s forwards;
}

.button:hover::after {
    transform: scale(1);
    opacity: 1;
    animation: flyIn .15s;
}

@keyframes flyIn {
    0% {
        transform: scale(1.05);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes flyOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.92);
        opacity: 0;
    }
}

/* Icon label */

.button::before {
    content: attr(data-iconName);
    font-size: 12px;

    width: 90px;
    overflow: hidden;
    white-space: nowrap;

    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-overflow: ellipsis;
}

/* Icon - Misc properties */

.button:nth-of-type(1) {
    display: none;
}

/*  */