/* Sidebar ('grid') */

.grid {
    display: flex;
    flex-direction: column;

    position: absolute;
    z-index: 10;
    left: 5px;
    bottom: 5px;

    background-color: var(--micaRest);
    backdrop-filter: blur(40px);
    color: var(--micaText);
    /* border-top: 1px solid var(--micaBord); */
    border-radius: 9px;

    height: 60px;
    width: calc(100vw - 10px);

    transition: .25s width 1s, background-color .2s;
}

/* .grid:hover {
    width: 200px;
    transition: .25s width .01s, background-color .2s
} */

::-webkit-scrollbar {
    width: 0;
    opacity: 0;
    display: none;
}

.corner {
    width: 10px;
    height: 10px;

    overflow: hidden;

    position: absolute;
    right: -10px;
    top: 0px;
}

.corner::after {
    content: "";

    border-radius: 10px 0 0 0;
    border: 4px solid var(--micaRest);
    border-bottom: transparent;
    border-right: transparent;

    width: 5px;
    height: 5px;

    position: absolute;
    left: -4px;
    top: -4px;
}

/*  */

/* Simulated window chrome ('titlebar') */

.titlebar {
    /* border-bottom: 1px solid var(--micaBord); */
    color: var(--micaText);

    position: absolute;
    top: 0;

    width: 100vw;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .25s max-width 1s, background-color .2s;
}

.centerSpot {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;

    background-color: var(--micaRest);
    border-radius: 500px;
    height: 40px;
}

.lpLabel {
    position: relative;
    z-index: 2;
    /* top: -55px; */
    /* left: 50%; */
    /* transform: translate(-50%, 0); */

    transition: opacity .2s, transform .2s;

    font-size: 15px;
    font-weight: 400;

    background-color: var(--micaFore);
    color: var(--micaText);
    border-radius: 50px;

    width: max-content;
    height: 100%;
    padding: 0 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.tbText {
    display: flex;
    gap: 2px;
    opacity: .5;
    width: fit-content;

    padding-left: 15px;
    margin-right: -15px;

    /* position: absolute; */
    /* left: 50%; */
    /* top: 50%; */
    /* transform: translate(-50%, -50%); */
}

.iconPackLabel {
    min-width: max-content !important;

    font-size: 14px;
    font-weight: 600;
    font-family: 'Segoe UI Variable Small';
    height: 21px;
}

.iconCount {
    min-width: max-content !important;

    font-size: 12px;
    font-weight: 900;
    opacity: .5;

    text-transform: uppercase;
}

.giEx {
    background-image: url("favicon/favicon-32x32.png");
    background-size: 23px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: transparent;

    position: relative;
    z-index: 1;
    /* left: 13px; */
    /* top: 50%; */
    transform: translateX(20px);
    border-radius: 50px 0 0 50px;

    font-size: 26px;

    width: 55px !important;
    height: 36px;

    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;

    background-color: var(--micaInv);
    padding: 10px !important;

    transition: .3s;
}

/*  */

/* Icons (sidebar buttons) */

.iconContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;

    width: 100%;
    height: 100%;
    flex-wrap: wrap;

    /* margin-top: 45px; */
    overflow: scroll hidden;
    padding: 5px;
}

.button {
    height: 50px;
    width: 50px;

    transition: opacity .3s, background-size .2s, background-color .2s !important;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    /* overflow: hidden; */

    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.button:active {
    background-size: 20px;
}

.button:hover {
    background-color: unset !important;
}

.button:not(.selected):after {
    content: "";

    width: 100%;
    height: 100%;

    position: absolute;
    z-index: -1;

    border-radius: 5px;
    background-color: var(--micaRest);
    border: 1px solid var(--micaRest);
    border-top-color: var(--micaBord);

    animation: flyOut .15s forwards;
}

.button:hover::after {
    transform: scale(1);
    opacity: 1;
    animation: flyIn .15s;
}

@keyframes flyIn {
    0% {
        transform: scale(1.05);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes flyOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.92);
        opacity: 0;
    }
}

/* Icon label */

.button::before {
    /* content: attr(data-iconName); */
    font-size: 12px;

    width: 135px;
    overflow: hidden;
    white-space: nowrap;

    position: absolute;
    bottom: 13px;
    left: 44px;
    text-align: left;
    text-overflow: ellipsis;
}

/* Icon - Misc properties */

.button:nth-of-type(1) {
    display: none;
}

/*  */